$yellow: #3fc7a5;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color:$yellow;
    @include margenes(50,0);
}
footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    margin-bottom: 0px; 
    @include margenes(10,0);
}
.card-hotel{
    flex: 1 200px ;
    @include margenes(10,0);
}
.btn-reserva{
    width: 100%; /* para hacer que el boton agarre todo el cuadro */
    border-radius: 0px;
    background-color:cadetblue;
    color: white;
}
.btn-reserva:hover{
    background-color:cornflowerblue;
}
.footer-address-icon{
    padding-right: 10px;
}
.imagen{
    width: 100%;
}
.tab-content{
    padding-top: 10px;
}