.jumbotron {
  background-color: #f2ee18;
  margin-top: 50;
  margin-bottom: 0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #f2ee18;
  margin-bottom: 0px;
  margin-top: 10;
  margin-bottom: 0; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10;
  margin-bottom: 0; }

.btn-reserva {
  width: 100%;
  /* para hacer que el boton agarre todo el cuadro */
  border-radius: 0px;
  background-color: cadetblue;
  color: white; }

.btn-reserva:hover {
  background-color: cornflowerblue; }

.footer-address-icon {
  padding-right: 10px; }

.imagen {
  width: 100%; }

.tab-content {
  padding-top: 10px; }
